{% extends "base.html" %}
{% block content %}

<div id="about_page_container">
    <div id="about_page_title">
        <h1>welcome to movie night</h1>
    </div>
    <div id="about_page_blurb">
        <ul>
            <li><a href="/movies"><button>movies</button></a> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis quam ipsam nesciunt libero obcaecati temporibus iure amet, maxime voluptatum, exercitationem repellendus quo inventore architecto corporis iusto perspiciatis facere facilis similique.</p></li>
            <li><a href="#"><button>members</button></a> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla et adipisci quibusdam earum tempore voluptatem impedit? At iure veritatis, obcaecati pariatur facere quam ipsa atque natus, provident a, nulla dicta.</li>
            <li><a href="/poll_creator"><button>make a poll</button></a> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor et corrupti vero esse? Rerum illum veniam perspiciatis, debitis voluptate eligendi atque quis consequuntur in minus ipsum dolorem. Quis, unde eos!</li>
            <li><a href="/movies"><button>search</button></a> Search imdb's huge selection of films to add to our database or create your own movie night poll</li>
        </ul>
    </div>
    <div id="about_page_image">
        <img src="/static/images/movie_night_1.jpeg" width="500px">
    </div>

</div>

{% endblock %}