{% extends "base.html" %}
{% block content %}

<div id="about_page_container">
    <div id="about_page_title">
        <h1>welcome to movie night</h1>
        <h4>In 2017 six friends gathered weekly to watch Game of Thrones. The season came to a close. What now? </h4>
    </div>
    <div id="about_page_blurb">
        <ul id="about_page_buttons">
            <li><a href="/movies"><button>movies</button></a></li>
            <li>Peruse the not quite exhaustive list of movies we've watched over the last five years at Park Street.</p></li>
            <li><a href="/members"><button>members</button></a></li>
            <li>Meet six handsome individuals with film tastes as varied as their accents.</li>
            <li><a href="/add_movie"><button>make a poll</button></a></li>
            <li>Make your own movie night poll by searching imdb's database for inspiration and saving your movies right here.</li>
            <li><a href="/add_movie"><button>add a movie</button></a></li>
            <li>Search imdb's huge selection of films to add to our database when we watch something new.</li>
        </ul>
    </div>
    <div id="about_page_image">
        <img src="/static/images/movie_night_1.jpeg" width="500px">
    </div>
{% for movie in all_movies %}
    {{ movie }}
{% endfor %}
    


</div>

{% endblock %}