{% extends "base.html" %}
{% block content %}

<div id="about_page_container">
    <div id="about_page_title">
        <h1>a big old title</h1>
    </div>
    <div id="about_page_blurb">
        <ul>
            <li><button href="/movies" role="button">movies</button> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis quam ipsam nesciunt libero obcaecati temporibus iure amet, maxime voluptatum, exercitationem repellendus quo inventore architecto corporis iusto perspiciatis facere facilis similique.</p></li>
            <li><button href="#" role="button">members</button> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla et adipisci quibusdam earum tempore voluptatem impedit? At iure veritatis, obcaecati pariatur facere quam ipsa atque natus, provident a, nulla dicta.</li>
            <li><button href="/poll_creator" role="button">make a poll</button> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor et corrupti vero esse? Rerum illum veniam perspiciatis, debitis voluptate eligendi atque quis consequuntur in minus ipsum dolorem. Quis, unde eos!</li>
            <li><button href="/movies" role="button">add</button> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad omnis exercitationem sed ipsum nemo voluptates. Quisquam natus dolorum praesentium officiis, doloremque consequuntur dolore perferendis, fugiat saepe, ratione et tempora suscipit?</li>
        </ul>
    </div>
    <div id="about_page_image">
        <img src="http://res.heraldm.com/phpwas/restmb_jhidxmake.php?idx=5&simg=201607251358185296764_20160725135842_01.jpg" width="250px">
    </div>

</div>

ABOUT PAGE

{% endblock %}