{% extends "base.html" %}
{% block content %}

<div id="add_movie_container">
    <div id="render_one_entire_page">
        {% if no_results %}
        {{ no_results }}
        {% endif %}
        <h1>search imdb</h1>
        <h2>for a movie to add to the database or create a unique poll</h2>
        <form method="GET" action="/add_movie">
            <h3><label for="movie_search">Search by Title</label></h3>
            <input id="movie_search" name="movie_search">
            <button class="movie_search" type="submit" value="Search by Title">Search by Title</button>
        </form>
        <form method="GET" action="/add_movie">
            <h3><label for="actor_search">Search by Actor</label></h3>
            <input id ="actor_search" name="actor_search">
            <button class="movie_search" type="submit" value="Search by Actor">Search by Actor</button>
        </form>
        <form method="GET" action="/add_movie">
            <h3><label for="advanced_search">Advanced Search</label></h3>
            <fieldset>
                <legend>Select a genre:</legend>
                <div>
                    <input type="radio" id="action" name="genre" value="action">
                    <label for="action">Action</label>
                </div>
                <div>
                    <input type="radio" id="animation" name="genre" value="animation">
                    <label for="animation">Animation</label>
                </div>
                <div>
                    <input type="radio" id="biography" name="genre" value="biography">
                    <label for="biography">Biography</label>
                </div>
                <div>
                    <input type="radio" id="comedy" name="genre" value="comedy">
                    <label for="comedy">Comedy</label>
                </div>
                <div>
                    <input type="radio" id="crime" name="genre" value="crime">
                    <label for="crime">Crime</label>
                </div>
          
                <legend>Your film must be:</legend>
                <div>
                    <input type="radio" id="oscar_nom" name="awards" value="oscar_nominees">
                    <label for="oscar_nom">Oscar Nominated Films</label>
                </div>
                <div>
                    <input type="radio" id="razzie_nom" name="awards" value="razzie_nominees">
                    <label for="razzie_nom">Razzie Nominated Films</label>
                </div>
                <div>
                    <input type="radio" id="top_250" name="awards" value="top_250">
                    <label for="top_250">imdb Top 250 Films</label>
                </div>
                <div>
                    <input type="radio" id="best_pic" name="awards" value="oscar_best_picture_winners">
                    <label for="best_pic">Best Picture Winners</label>
                </div>
            </fieldset>
            <button class="movie_search" type="submit" value="Advanced Search">Advanced Search</button>
        </form>
    </div>

    
<!-- big search function -->
<!--  -->

<!-- search by actor https://imdb-api.com/en/API/SearchName/k_f11wle6a/Natalie_Portman
advanced search
genre
title groups (oscar nommed, razzie nommed, imdb top 250, best picture-winning)
runtime?

?
moviemeter=100,200
sort=num_votes,asc
https://imdb-api.com/API/AdvancedSearch/k_f11wle6a?genres=action,animation,biography,comedy,crime,documentary,drama,family,fantasy,film_noir,horror,musical,mystery,romance,sci_fi,thriller,western&groups=top_250,oscar_nominees,oscar_best_picture_winners,razzie_nominees&moviemeter=60,90
-->
    <div id="render_two_second_div"
        <ul>
            {% for result in results %}
            <li id="multiple-results">
                <br><img src="{{ result['image'] }}" width="150px">
                <br>{{ result['title'] }}
                <br>{{ result['description'] }}
                <form method="GET" action="/add_movie_confirm">
                    <button><a href="/add_movie_confirm?id={{ result['id'] }}">We watched {{ result['title'] }}</a></button>
                </form>
                <form method="POST" action="/add_poll_action">
                    <input type="hidden" name="kimbo" value="{{ result['id'] }}">
                    <button>Add {{ result['title'] }} to my poll</button>
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>

</div>
{% endblock %}