{% extends "base.html" %}
{% block content %}

<div id="add_movie_container">
    <div id="render_one_entire_page">
        {% if no_results %}
        {{ no_results }}
        {% endif %}
        <h1>search imdb</h1>
        <h2>for a movie to add to the database or create a unique poll</h2>
        <form method="GET" action="/add_movie">
            <h3><label for="movie_search">Search by Title</label></h3>
            <input id="movie_search" name="movie_search">
            <button class="movie_search" type="submit" value="Search by Title">Search by Title</button>
        </form>
        <form method="GET" action="/add_movie">
            <h3><label for="actor_search">Search by Actor</label></h3>
            <input id ="actor_search" name="actor_search">
            <button class="movie_search" type="submit" value="Search by Actor">Search by Actor</button>
        </form>
        <form method="GET" action="/add_movie">
            <h3><label for="advanced_search">Advanced Search</label></h3>
            <fieldset>
                <legend>Select a genre:</legend>
                <div>
                    <input type="radio" id="action" name="genre" value="action">
                    <label for="action">Action</label>
                </div>
                <div>
                    <input type="radio" id="animation" name="genre" value="animation">
                    <label for="animation">Animation</label>
                </div>
                <div>
                    <input type="radio" id="biography" name="genre" value="biography">
                    <label for="biography">Biography</label>
                </div>
                <div>
                    <input type="radio" id="comedy" name="genre" value="comedy">
                    <label for="comedy">Comedy</label>
                </div>
                <div>
                    <input type="radio" id="crime" name="genre" value="crime">
                    <label for="crime">Crime</label>
                </div>
          
                <legend>Your film must be:</legend>
                <div>
                    <input type="radio" id="oscar_nom" name="awards" value="oscar_nominees">
                    <label for="oscar_nom">Oscar Nominated Films</label>
                </div>
                <div>
                    <input type="radio" id="razzie_nom" name="awards" value="razzie_nominees">
                    <label for="razzie_nom">Razzie Nominated Films</label>
                </div>
                <div>
                    <input type="radio" id="top_250" name="awards" value="top_250">
                    <label for="top_250">imdb Top 250 Films</label>
                </div>
                <div>
                    <input type="radio" id="best_pic" name="awards" value="oscar_best_picture_winners">
                    <label for="best_pic">Best Picture Winners</label>
                </div>
            </fieldset>
            <button class="movie_search" type="submit" value="Advanced Search">Advanced Search</button>
        </form>
    </div>

    
    <div id="render_two_second_div">
        <ul id="multiple_results">
            {% for result in results %}
            <li id="single_result">
                <br><img src="{{ result['image'] }}" width="150px">
                <br>{{ result['title'] }}
                <br>{{ result['description'] }}
                <br>
                <form method="GET" action="/add_movie_confirm">
                    <button><a href="/add_movie_confirm?id={{ result['id'] }}">We watched it!</a></button>
                </form>
                <br>
                <form method="POST" action="/add_poll_action">
                    <input type="hidden" name="kimbo" value="{{ result['id'] }}">
                    <button>Add it to my poll!</button>
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>

</div>
{% endblock %}