<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🎬 movie night</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Koulen&family=Lato:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <p id="logo">movie night</p>
            <a href="/about">about</a>
            <a href="/movies">the movie list</a>
            <a href="/add_movie">make a poll</a>
            <a href="/add_movie">add a movie</a>
            
        </nav>
        
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        <a href="https://github.com/kimberleyrogers">Kimberley Rogers (2022)</a>
    </footer>
</body>
</html>