<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>movie 🎬 night</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <nav>
        <a href="/about">about</a>
        <a href="/movies">the movie list</a>
        <a href="/poll_creator">the poll creator</a>
        <a href="/add_movie">add a movie</a>
     
    </nav>
    <!-- nav bar containing 
    about
    login - if logged in: add movies
    members
    movies
    sign up-->
    {% block content %}
    {% endblock %}
    <footer>
        <br>FOOTER - Literally just to check if my CSS works.
    </footer>
</body>
</html>