{% extends "base.html" %}
{% block content %}

<div id="member_main_container">
    <div id="member_first_column">
        <h1>{{ name }}</h1>
        <div id="img_div">
            <img src="/static/images/{{ user_id }}.jpeg" width="500px">
        </div>
    </div>
    <div id="member_second_column">  
        <ul id="member_results">
            {% for id, title, release_year, img_src in results %}
            <li id="member_single_movie">
                <a href="/movie?id={{ id }}">
                    <img src="{{ img_src }}" width="100px">
                    <h2>{{ title }} ({{ release_year }})</h2>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}