{% extends "base.html" %}
{% block content %}
<article id="movie_main_container">
    <figure id="movie_image_column">
        <img src="{{  img_src }}" width="250px">
    </figure>
    <div id="movie_info_column">
        <h1>{{ title }} ({{ release_year }})</h1>
        <form method="GET" action="/member">
            <h2>This was <a href="/member?id={{ whose_pick }}">{{ person }}'s</a> pick on {{ date_watched }}.</h2>
        </form>
        <h4>Country: {{ country }}</h4>
        <h4>Synopsis: {{ synopsis }}</h4>
    </div>
</article>
{% endblock %}