{% extends "base.html" %}
{% block content %}

<div id="poll_creator_main_container">
    
    
    <div id="poll_creator_left_column">
        <h1>search for a movie to add to your poll</h1>
        <form method="GET" action="/poll_creator">
            <input name="movie_search">
        </form>
        <ul>
        {% for result in results %}
        <li id="multiple-results">
            {{ result['title'] }}
            {{ result['id'] }}
            {{ result['description'] }}
            <img src="{{ result['image'] }}" width="150px">
            <form method="GET" action="/poll_creator">
                <button><a href="/poll_creator?id={{ result['id'] }}">Add to my poll</a></button>
                <input type="hidden" name="imdb_id" value="{{ movie_to_add_api_results['id'] }}">
                <input type="hidden" name="title" value="{{ movie_to_add_api_results['title'] }}">
                <input type="hidden" name="img_src" value="{{ movie_to_add_api_results['image'] }}">
                <input type="hidden" name="runtime_mins" value="{{ movie_to_add_api_results['countries'] }}">
                <input type="hidden" name="synopsis" value="{{ movie_to_add_api_results['plot'] }}">
                <input type="hidden" name="genre" value="{{ movie_to_add_api_results['year']}}">
               
                
               
            </form>
        </li>
        {% endfor %}
    </ul>
    </div>
    <div id="poll_creator_right_column">
        something else here now or fix your CSS
    </div>
    

</div>

{% endblock %}